/* Add CSS Styling */

.odd-element {
    background-color: #FFB6C1;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second-element {
    color: #0000FF;
    font-size: 36px;
}

.odd-element#third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}
